services:
  api:
    image: autokeeper-api:latest
    container_name: autokeeper-api
    restart: unless-stopped
    ports:
      - "3333:3333"
    environment:
      TZ: UTC
      APP_PORT: 3333
      LOG_LEVEL: info
      NODE_ENV: production
      DATABASE_URL: ${DATABASE_URL}
      BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
      BETTER_AUTH_URL: ${BETTER_AUTH_URL}
      OAUTH_GOOGLE_CLIENT_ID: ${OAUTH_GOOGLE_CLIENT_ID}
      OAUTH_GOOGLE_SECRET_KEY: ${OAUTH_GOOGLE_SECRET_KEY}
      RESEND_API_KEY: ${RESEND_API_KEY}
      EMAIL_FROM: ${EMAIL_FROM}
      EMAIL_PROVIDER: ${EMAIL_PROVIDER}
    env_file:
      - .env
    networks:
      - autokeeper-network

networks:
  autokeeper-network:
    driver: bridge
